body {
    margin: 0;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.editContainer {
    height: 100%;
    min-width: 495px;
    width: 40vw;
    border: 2px solid #195C70;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

}

.productContainer {
    height: 100vh;
    min-width: 495px;
    width: 40vw;
    border: 1px solid black;
    border-radius: 3px;
}