#PersonalDetails, #WorkExperience, #Education {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    gap: 5px;

}

#PersonalDetails > input, #WorkExperience > input, #Education > input {
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px;
}


#personalHeader ,#workHeader,  #educationHeader {
    margin: 0;
    font-size: 1.3rem;
    color: #777777;
    padding-left: 25px;
    padding-bottom: 10px;
}

#personalHeader {
    padding-top: 30px;
}

#personalDesc {
    display: flex;
    padding: 7px;
    overflow: hidden;
    resize: none;
}

#workDesc, #educationDesc {
    resize: none;
    padding: 7px;
}

#addBtn, #deleteBtn {
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.btnContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
  
.btnContainer button:not(:last-child) {
    margin-right: 10px;
}
  

