#productHeader {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

#leftHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#leftHeader > p{
    margin: 0;
}

#rightHeader{
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-self: right;
    height: 100%;
    width: fit-content;
    gap: 5px;
}

#personalName{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
    color: #195C70;
}

#companyName {
    color: #777777;
    font-size: 1.3rem;
    margin: 0;
}

#phone > p, #email > p, #location > p {
    margin: 0;
}

#phone, #email, #location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#phoneImg, #emailImg, #locationImg {
    height: 16px;
    width: 16px;
}

#bottomHeader {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    padding-top: 15px;
    border-bottom: 3px solid #80AEBA;
}

#productDescription {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8rem;
    width: 100%;
}

#productWork {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    grid-template-rows: 3;
    padding-left: 50px;
    padding-right: 50px;
    height: fit-content;
    row-gap: 7px;
}

#productWorkExperience {
    margin: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #377DA3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-top: 15px;
    font-weight: bold;
}

#productEducationHeader {
    margin: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #377DA3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-top: 15px;
    font-weight: bold;

}

#workTitle, #eduUniversity {
    margin: 0;                   
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: right;
    color: #838383;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#workPosition, #eduCourse {
    margin: 0;
    grid-row-start: 2;
    grid-column-start: 1;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5E5E5E;
}

#workStart, #eduStart {
    margin: 0;
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: right;
    padding-left: 5px;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5E5E5E;
}

#workEnd, #eduEnd {
    margin: 0;
    grid-row-start: 2;
    grid-column-start: 4;
    padding-left: 5px;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5E5E5E;
}

#workDescription, #eduDescription {
    margin: 0;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0D0D0D;
}

#productEducation {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    grid-template-rows: 3;
    padding-left: 50px;
    padding-right: 50px;
    height: fit-content;
    row-gap: 7px;
}

#productDesc {
    margin: 0;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 15px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

#personalTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: #5E5E5E;
}